.SearchBox{
    justify-content: center;
    text-align: center;
}

.textField{
    position: relative;
    left: 120px;
    background-color: white;
    width: 49%;
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: large;
}
